.transaction-history {
  margin: 0 auto;
  border: 1px #c9c7c7 solid;
  th {
    width: 300px;
    padding: 10px;
    background-color: royalblue;
    color: #ffffff;
  }
  td {
    text-align: center;
    padding: 10px;
  }
}
